@model Ecomerce.Application.ViewModels.ShopOwnerViewModel

<div class="form-group text-center">
    <button type="button" class="btn" data-toggle="modal" data-target="#addShop" id="ShopButton">Add New Shop</button>
</div>
<table id="book" class="table table-bordered table-hover">

    <thead>
        <tr class="">
            <th>OwnerName</th>
            <th>ShopName</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var book in Model.ShopOwners)
        {
            <tr style="height: 60px;">
                <td>@book.OwnerName</td>
                <td>@book.ShopName</td>
            </tr>
        }
    </tbody>
</table>
